@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #ededed;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252526;
}

.navbar{
	position: absolute;
 	background-color: #252526;
 	display: flex;
 	
}


.container{ 
background-color:#252526;
  border-radius: 50px;
  padding: 40px;
  margin-top: 250px;
  width: 100%; 
  height: 450px; 
  color: #fff;
  margin-left: 0;
  margin-right: 0 ;

}
.containerLista{ 
background-color:#2d2d30;
  border-radius: 50px;
  padding: 40px;
  margin-top: 100px;
  width: 80%; 
   
  color: #fff;
}

.destaque-mes {
	
    background-color: #035ea8; /* Cor de fundo de destaque (vermelho claro) */
    padding: 3px; /* Espaçamento interno para melhorar a aparência */
    border-radius: 10px; /* Cantos arredondados para suavizar a aparência */
}


.botaoCadastrarQEDinicio{
  background-color: #035ea8; 
  color: #ffff; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer;
  text-align: center; 
  margin-top:100px;
  font-weight: bold; 
  height: 50px;
 
}

.textoInicio{ 
  margin-top: -200px;
  position: relative;
  left: 25% ;
}

.filtro{
	background-color: #2d2d30;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
}

/*formulario CADASTRO*/
.cadastro{
	margin-top: 100px;
  margin-left 0px;
  left: 25% ;
  position: relative;
  

}

.botaoCadastrar{
  background-color: #39ff14; 
  color: #252526; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  text-align: center;
  font-weight: bold; 
  width: 700px;
  height: 150px;
  margin-left: 10px; 
}

.btnEditar{
	  border-radius: 20px; 
	  padding: 10px 20px; 
	  border: none; 
	  text-align: center;
	  font-weight: bold; 
	  
}

.btnSalvar{
	display: none;
}

.btn-danger{ 
	  border-radius: 20px; 
	  padding: 10px 20px; 
	  border: none; 
	  text-align: center;
	  font-weight: bold; 
	  width: 150px;
	  height: 150px;
	  background-color: #39ff14; 
	  color: #252526;
	   
}


.botaocadastrar{
	 background-color: #39ff14; 
  color: #252526; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  text-align: center; 
  font-weight: bold;
}
/*fim formulario ND30*/



.cabecalhoTabelaEditar {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 17px;
}


table {
  width: 90%;
  border-spacing: 10px;
  border-radius: 10px;
  text-align: center;
  }
  
.form-container {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	gap: 15px;
	
}





/*  inputs domodo de edição de valores da lista*/
td input {
    border: 2px solid #ccc; /* Adiciona uma borda cinza */
    padding: 5px; /* Adiciona um espaçamento interno */
    font-size: 14px; /* Define o tamanho da fonte */
    color: #333; /* Define a cor do texto */
    width: 65px;
    border-radius: 20px; 
    text-align: center;
}

/* Estilo para os inputs em modo de edição quando estão em foco */
td input:focus {
    border-color: #fa6607; /*cor da borda durante edição*/
    outline: none; /* Remove a borda de foco padrão */
}

/* Estilo para os inputs em modo de edição quando estão desabilitados */
td input:disabled {
    background-color: #f8f9fa; /* Muda a cor de fundo para cinza claro */
    cursor: not-allowed; /* Altera o cursor para indicar que não está disponível para interação */
}







  
 